:root {
      --zeema-blue: #2196f3;
      --dark-theme: #2F303A;
      --color-white: #FFFFFF;
      --color-gray: #757575;
      --color-onix: #212121;
      --medium-text: 16px;
      --gaps-small: 30px;
      --gaps-medium: 50px;
      --time-style: cubic-bezier(0.4, 0, 0.2, 1);
      --duration: 250ms;
}

*,
*::after,
*::before {
      margin: 0;
}

body {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      letter-spacing: 0.03em;
      color: var(--color-onix);
      background-color: var(--color-white);
      position: relative;
}

/* ---------------General-styles-----------------*/

img {
      display: block;
      max-width: 100%;
      height: auto;
}

.container {
      width: 1200px;
      padding: 0 15px;
      margin: auto;
}

.section {
      padding: 94px 0;
      margin: auto;
      background-repeat: no-repeat;
}

.list {
      list-style: none;
      padding-left: 0;
      display: flex;
}

.link {
      text-decoration: none;

}

.logo {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      color: #000000;
}

.logo .logo-accent {
      color: var(--zeema-blue);
}

.logo.logo-last {
      color: var(--color-white);

}

.section-title {
      font-size: 36px;
      line-height: 1.66;
      text-align: center;
      margin-bottom: var(--gaps-medium);
}

.btn {
      font-family: inherit;
      border-radius: 4px;
      border: hidden;
      box-shadow:0;
      transition: box-shadow var(--duration) var(--time-style), background-color var(--duration) var(--time-style), color var(--duration) var(--time-style);
}

.btn:hover,
.btn:focus {
      color: var(--color-white);
      background-color: var(--zeema-blue);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      
}

.header-link.current {
      color: var(--zeema-blue);
}
.header-link.current::after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--zeema-blue);
      
      opacity: 1;
      transform: none;
}

/*---------------Menu-----------------*/

.header {
      border-bottom: 1px solid #ECECEC;
}

.header-logo {
      padding: 24px 0;
      margin-right: 93px;
}

.header-container {
      display: flex;
}

.header-nav {
      display: flex;
      justify-items: center;
      align-items: center;
}

.header-link-list {
      column-gap: var(--gaps-medium);
}

.header-link {
      font-weight: 500;
      font-size: var(--small-text);
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: inherit;
      padding: 32px 0;
      /* position: relative; */
      transition:color var(--duration) var(--time-style);
}
.header-link::after {
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--zeema-blue);
      position: relative;
      top: 31px;
      opacity: 0;
      transform: rotateY(-90deg);
      transition: opacity var(--duration) var(--time-style), transform var(--duration) var(--time-style);
}


.header-link:hover,
.header-link:focus {
      color: var(--zeema-blue);
}

.header-link:hover::after,
.header-link:focus::after {
      transform: rotateY(0deg);
      opacity: 1;
}

/* .header-link-list li:nth-child(n+2) {
      margin-left: var(--gaps-medium);
} */

/* .header-link-list li:first-child {
      margin-left: 0;
} */

.header-contacts-list {
      align-items: center;
      column-gap: var(--gaps-medium);
      margin-left: auto;
}

/* .header-contacts-list li:nth-child(n+2) {
      margin-left:var(--gaps-medium);
} */

.header-contacts-link {
      font-weight: 500;
      font-size: var(--small-text);
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--color-gray);
      padding: 32px 0;
      display: flex;
      align-items: center;
      transition: color var(--duration) var(--time-style);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
      color: var(--zeema-blue);
      fill: var(--zeema-blue);
}

.header-contacts-link span {
      margin-left: 10px;
}

.contact-icons {
      fill: currentColor
}

/*-------------Footer---------------*/

.footer {
      background-color: var(--dark-theme);
      padding: 60px 0;
}

.footer-container {
      display: flex;
      column-gap: 70px;
      align-items: baseline;
}

.adress {
      margin-top: 20px;
      display: flex;
      column-gap: 70px;
}

.socials h3 {
      line-height: 1.14;
      text-transform: uppercase;
      color: var(--color-white);
      margin-bottom: 20px;
}

.adress-list {
      flex-direction: column;
      row-gap: 9px;
}

/* .adress-list li:nth-child(-n+2) {
      margin-bottom: 9px;
} */

.socials-list {
      align-items: baseline;
      column-gap: 10px;
}

.socials-list li {
      
      width: 44px;
      height: 44px;
}

.socials-link {
      width: 100%;
      height: 100%;
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgba(256, 256, 256, 0.1);
      transition: background-color var(--duration) var(--time-style);
}
.socials-link svg {
      fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
      background-color: var(--zeema-blue);
}

.adress-map {
      font-style: normal;
      color: var(--color-white);
      line-height: 1.71;
}

.adress-link {
      font-style: normal;
      line-height: 1.71;
      color: rgba(255, 255, 255, 0.6);
      transition: color var(--duration) var(--time-style);
}

.adress-link:hover,
.adress-link:focus {
      color: var(--zeema-blue);
}

/* --------------Back-drop------------- */

.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
}

.backdrop {      
      width:100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      position: fixed;
      top:0;
      transition: opacity 250ms linear, visibility 250ms linear;
      
}

/* .modal {
      position: fixed;
      transform-origin: center;
      opacity: 0;
      transform: scale(0.8) translate(135.5%,21%);
      transition-property: opacity transform;
      transition-duration: 250ms;
      transition-timing-function: ease;
}
.backdrop:hover .modal {
      opacity:1;
      transform: scale(1) translate(110%,15.6%);
} */

.modal {
      width: 528px;
      height: 581px;
      background-color: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-48.5%) scale(1);
      transition: transform var(--duration);
      transition-timing-function:cubic-bezier(.89, .01, .45, .99);
}
/* cubic-bezier(.74, .01, .7, 1) cubic-bezier(.7, -0.01, .56, 1) cubic-bezier(.67, 0, .78, .47) cubic-bezier(.77, 0, .45, .99) */
.backdrop.is-hidden .modal {
      transform: translate(-50%,-36%) scale(0.41,0.09);
}

/* .modal {
      transform: scale(0.8) translate(135.5%,21%); 
      opacity:1;
      transform: scale(1) translate(110%,15.6%);
} */

@keyframes modal {
      0% {
            opacity:0;
            transform: scale(0.8) translate(110%,15.6%);
      }
      100% {
            opacity:1;
            transform: scale(1) translate(110%,15.6%);
      }
}

.backdrop.is-hidden .modal-close {
      visibility: hidden;
}

.modal-close {
      color: inherit;
      padding: 6px;
      width: 30px; height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      position: absolute;
      transform-origin: top right;
      top: 8px;
      right: 8px;
      transition: visibility 100ms linear 200ms;
}
/* style="width: 30px; height: 30px" */
.modal-close:hover, .modal-close:focus {
      box-shadow: none;
      cursor: pointer;
      color: var(--zeema-blue);
}
.modal-close:hover svg,
.modal-close:focus svg {
      fill: currentColor;
}

/* ----------------------------HOME---------------------------*/

.hero {
      padding: 200px 0;
      text-align: center;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/teamwork-day.jpg");
      
      max-width: 1600px;
      margin: auto;
      background-size: cover;
      background-color: var(--dark-theme);
      
}
/* border-top: 1px solid #ECECEC; */
.hero-title {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      color: var(--color-white);
      width: 696px;
      margin: auto auto var(--gaps-small);
}

.hero-btn {
      font-weight: 700;
      font-size: var(--medium-text);
      line-height: 1.88;
      letter-spacing: 0.06em;
      background-color: var(--zeema-blue);
      color: var(--color-white);
      width: 216px;
      height: 50px;
      
      transition: background-color var(--duration) var(--time-style);
}

.hero-btn:hover,
.hero-btn:focus {
      background-color: #188CE8;
}

/* -------------------features-------------------- */

.visualy-hidden {
      visibility: hidden;
}

.features-list {
      margin: auto;
      column-gap: var(--gaps-small);
}

.list.features-list .features-list-item {
      width: 270px;
}

/* .features-list-item:nth-child(n+2) {
      margin-left: var(--gaps-small);
} */

.features-list-item div {
      height: 120px;
      background-color: #F5F4FA;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
}

.features-list-title {
      text-transform: uppercase;
      font-size: var(--small-text);
      line-height: 1.14;
}

.features-list-text {
      line-height: 1.71;
      color: var(--color-gray);
      margin-top: 10px;
}

/* -------------------Work------------------- */

.work {
      padding-top: 0;
}

.work-list {
      gap: var(--gaps-small);
}

/* .work-list-item:nth-child(n+2) {
      margin-left: var(--gaps-small);
} */
.work-list-item {
      position: relative;
}
.work-list-item p {
      text-transform: uppercase;
      color: var(--color-white);
      width: 100%;
      height: 70px;
      background-color:rgba(47, 48, 58, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 224px;
}
/* calc(100%-70px) */
/*--------------------Team---------------------*/

.team {
      background-color: #F5F4FA;
      max-width: 1600px;
}

.team-list {
      column-gap: var(--gaps-small);
}

.team-cards {
      background-color: var(--color-white);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      width: 270px;
}

/* .team-cards:nth-child(n+2) {
      margin-left: var(--gaps-small);
} */

.team-member-about {
      padding: var(--gaps-small) 32px;
}

.team-names {
      font-weight: 500;
      font-size: var(--medium-text);
      line-height: 1.18;
      text-align: center;
}

.team-text {
      font-size: var(--medium-text);
      line-height: 1.18;
      color: var(--color-gray);
      text-align: center;
      margin-top: 10px;
}

.member-socials {
      margin-top: 16px;
      justify-content: center;
      column-gap: 10px;
}

.member-socials li {
      width: 44px;
      height: 44px;
      background-color: inherit;
}

.member-social-link {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #AFB1B8;
      transition: color var(--duration) var(--time-style), background-color var(--duration) var(--time-style) ;
}
.member-social-link svg {
      fill: currentColor;
}
.member-social-link:hover,
.member-social-link:focus {
      background-color: var(--zeema-blue);
      color: var(--color-white);
}

/* ---------------Regular clients----------------- */

.clients {
      justify-items: center;
      column-gap: var(--gaps-small);
}

.clients li {
      width: 170px;
      height: 92px;
      
      
}

.client-link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;

      border: 1px solid #AFB1B8;
      border-radius: 4px;
      color: #AFB1B8;
      transition: color var(--duration) var(--time-style), border 250ms var(--time-style);
}

.client-link svg {
      fill: currentColor;
}

.client-link:hover,
.client-link:focus {
      border: 1px solid var(--zeema-blue);
      color: var(--zeema-blue);
}

/*-------------------------PORTFOLIO--------------------------*/

.portfolio {
      background-color: var(--color-white);
}

.filters-list {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
}

.filters-btn {
      background-color: #F5F4FA;
      font-weight: 500;
      font-size: var(--medium-text);
      line-height: 1.62;
      color: var(--color-onix);
      min-width: 73px;
      padding: 6px 22px;
      margin-left: 8px;
}

.project-list {
      flex-wrap: wrap;
      gap: var(--gaps-small);
}

.project-list .project {
      width: 370px;
      background: var(--color-white);
}

.project-link {
      width: 100%;
      height: 100%;
      display:block;
      border: 1px solid #EEEEEE;
      transition: box-shadow var(--duration) var(--time-style);
}

.project-link:hover,
.project-link:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay-div {
      position: relative;
      overflow: hidden;
}

.overlay {
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      
      font-size: 18px;
      line-height: 1.56;
      color: var(--color-white);
      padding: 63px 24px;
      
      position: absolute;
      top: 0;
      left: 0;
      transform: translatey(100%);
      transition: transform var(--duration) var(--time-style);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
      transform: translatey(0);
}

.project-about {
      padding: 20px 24px;
}

.project-title {
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: var(--color-onix);
}

.project-text {
      font-size: var(--medium-text);
      line-height: 1.88;
      color: var(--color-gray);
      margin-top: 4px;
}

